/* Nav */
nav {
    height: 70px;
    background: rgb(20, 20, 20);
    color: rgb(220, 220, 220);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
  }
  
  .nav-items,
  .overview,
  .account,
  .material-symbols-outlined {
    display: flex;
  }
  
  .overview {
    margin-right: 4rem;
  }
  
  .material-symbols-outlined {
    cursor: pointer;
  }
  
  .logo h2 {
    font-style: italic;
    color: rgb(0, 206, 206);
    cursor: pointer;
    margin: 0 0.5rem;
  }
  
  nav li {
    list-style: none;
    margin: 0 0.5rem;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(220, 220, 220);
  }
  
  nav a:hover {
    color: #a0ebfd;
  }
  
  nav a::after {
    content: "";
    display: block;
    height: 3px;
    background: #a0ebfd;
    width: 0%;
    transition: all ease-in-out 300ms;
  }
  
  nav a:hover::after {
    width: 100%;
  }
  
  h1 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fssl.quiksilver.com%2Fstatic%2FDC%2Fdefault%2Fcategory-assets%2Fexperiences%2Frecurring%2Fhowto%2Fimg%2Fhow-to%2Fsnow%2Fhow-to-choose-snowboard-pants%2Fsnowboard-pants-banner.jpg&f=1&nofb=1&ipt=a0d4b35bbb62eceaa169a6c58e948eb606b25fffe5e04750284c2814f790e7a9&ipo=images */

.hero {
    position: relative;
    width: 100%;
    height: 30vh;
    background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fssl.quiksilver.com%2Fstatic%2FDC%2Fdefault%2Fcategory-assets%2Fexperiences%2Frecurring%2Fhowto%2Fimg%2Fhow-to%2Fsnow%2Fhow-to-choose-snowboard-pants%2Fsnowboard-pants-banner.jpg&f=1&nofb=1&ipt=a0d4b35bbb62eceaa169a6c58e948eb606b25fffe5e04750284c2814f790e7a9&ipo=images') no-repeat center center/cover;
    background-position: center 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .hero-content {
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 8px;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .hero-button {
    padding: 15px 30px;
    font-size: 18px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .hero-button:hover {
    background-color: #f0f0f0; 
  }

.container {
    width: 1969px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-item {
    background-color: #ffffff; 
    padding: 5px; 
    text-align: center;
    border: 1px solid #ccc;
    width: 100%; 
    box-sizing: border-box; 
}


.product-item img {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto; 
}

/* FOOTER */
footer {
    background: rgb(20, 20, 20);
    color: rgb(220, 220, 220);
    padding: 20px 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-items,
  .overview,
  .account {
    display: flex;
  }
  
  .overview {
    margin-right: 4rem;
  }
  
  footer li {
    list-style: none;
    margin: 0 0.5rem;
  }
  
  footer a {
    text-decoration: none; 
    color: white; 
  }
  
  footer a:hover {
    color: #a0ebfd;
  }